html{
    scroll-behavior: smooth;
    scroll-padding: 3rem;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
    
}

/* #Navbar css */
.btns{
    width: 35%;
    justify-content: flex-end;
}

#btn1{
    border:none;
    border-radius: 44px;
    font-weight: 550;
    background-color: #ffffff;
    width: max-content;
    padding: 0.7vw 1rem;
}
#btn2{
    border: 1.5px solid #f53838;
    border-radius: 44px;
    font-weight: 550;
    color: #f53838;
    background-color: #ffffff;
    padding: 0.5vw 1rem;
    transition: .2s all ease-in;

}
#btn2:hover{
    background-color: #f53838;
    color: white;
}
.nav-link{
    color: grey;
    font-size: 1.1rem;
    transition: .2s all ease-in;
}

.nav-link:hover{
    color: #f53838;
    
}


/* #Home section */


#home .width{
    width: 50%;
}
#home h1{
    font-size: 3rem;
}
#home p{
        font-size: 1.1rem;
        color: #76787a;
}


#home .button{
    background-color: #f53838;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 1rem 5rem;
    font-size: 1.1rem;
    font-weight: 550;
    width: fit-content;
    box-shadow: #f53838 17px 13px 36px -12px;
    transition: .2s all ease-in;
}

#home .button:hover{
    background-color: #2e3033;
    box-shadow: #2e3033 17px 13px 36px -12px;
 
}

#homepage .contents{

    box-shadow: #afafaf 0px 1px 100px -29px;
    padding: .9rem ;
    border-radius: 10px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#homepage .contents .text{
    margin-left: 2rem;
    padding-right: 8rem;
    border-right: #d3cdcd 2px solid;
}

#homepage .content .image{
    justify-content: space-evenly;
    align-items: center;
}

#homepage .contents .adjust{
    margin-left: 2rem;
}
#homepage .contents h4{
    text-align: end;
    margin-bottom: 0px;

}
#homepage .contents p{

    font-size: 1.3rem;
    color: #76787a;
}

/* # About us page */

#about p{
    font-size: 1.1rem;
    color: #76787a;
}
#about .contents{
    margin-left: 5rem;
}
#about .contents ul{
    list-style: none;
    margin-left: 0px;
    padding: 0%;
    line-height:3rem;
    

}
#about .contents ul li{
    color: #76787a;
}
#about .contents ul img{
    margin-right: .5rem;
    width: 1.5rem;
}


/* #pricingpage */


#pricing{
    margin-top: 5rem;

}
#pricing h5{
    color: #76787a;

}

#pricing ul{
list-style: none;
margin-left: 0px;
padding-left: 0px;

}
#pricing .section{
    transition: 1s ease-in all;
}

#pricing ul li{
    margin:.5rem;
}

#pricing  ul img{
    margin-right:2rem;
    width: 1rem;
}
#pricing .btn{
    border: none;
    outline: none;
}
#pricing .button{
    background-color: white;
    margin: 1rem auto;
    border: 2px solid #f53838;
    color: #f53838;
    border-radius:10rem;
    padding: 1rem 5rem;
    font-size: 1.1rem;
    font-weight: 550;
    width: fit-content;
    transition: .2s all ease-in;

}
#pricing .button:hover{
    color: white;
    background-color: #f53838;
}

#pricing .card-body{
    height: 50rem;
  
}

#pricing .margin1{
    margin-top: 4rem;
}
#pricing .margin2{
    margin-top: 2.5rem;
    margin-bottom: 0rem;
}

/* #location page */

#location{
    margin-top: 8rem;
}
#location h5{
    color: #76787a;

}
#location .sponsers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#location .sponsers img{
    width: 10rem;
    transition: .2s all ease-in;
}

#location .sponsers img:hover{
    filter: brightness(-10%);
}

/* #testimonials */

#testimoniols .carousal{
    width: auto;
    margin: auto;
    height:22rem ;
    position: relative;
    overflow: hidden;
  

}
#testimoniols .content h5{
    color: #76787a;
}

#testimoniols .section{
    background-color: white;
    width: 40%;
    height: 95%;
    margin: 1rem;
    position: absolute;
    border: #76787a 2px solid;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: .4s all ease-in;
   
}
#testimoniols .section .users{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#testimoniols #customer1{
    left: 90%;
}
#testimoniols #customer2{
    left: 45%;
}
#testimoniols #customer3{
    left: 0%;
}
#testimoniols .section .image{
    width: 4rem;
    height: 4rem;
}
#testimoniols .btns{
    display: flex;
    justify-content: end;
    width: 100%;

}
#testimoniols .btns img{
    width: 2rem;
}

#testimoniols .btns .left{

    justify-content: center;
    align-items: center;
}

#testimoniols .btns .left .leftbtns{

    height: 1rem;
    width: 1rem;
    margin: .2rem;
    border-radius: 50%;
    border: none;
    background-color: #dee0e0;
}

#testimoniols  .button1{
    background-color: #f53838;
    border: none;
    border-radius: 50%;
    padding: .5rem .4em;

}
#testimoniols  .button2{
    background-color: white;
    border: 2px solid #f53838 ;
    border-radius: 50%;
    padding: .5rem 0.3em;
}

/* #subscribe  */
#adjust{
    background-color: white;
    display:flex;
    width: 80%;
    margin: auto;
    z-index: 10;
    margin-bottom: -5rem;
}

#adjust #sub {
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 42px -27px black;
    padding: 3rem 5rem;
    background-color: white;
   
}

#sub .subscribe .button{
    background-color: #f53838;
    text-decoration: none;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 1rem 5rem;
    font-size: 1.1rem;
    font-weight: 550;
    width: fit-content;
    box-shadow: #f53838 17px 13px 36px -12px;
    transition: .2s all ease-in;
}
#sub .subscribe .button:hover{
    background-color: #2e3033;
    box-shadow: #2e3033 17px 13px 36px -12px;
 
}

/* #footer page  */

#footerpage{
    width: 100%;
background-color: #f4f4f4;
display: flex;
align-items: center;
justify-content: center;
}
#footer{
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}
#footer .left{
    width: 35%;
    margin: 5rem;
}
#footer .left .social{
    margin: 2vw 0vw;
}

#footer .left .social .social-icon{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 50%;
    margin: 0.5rem;
}
 #footer .left .social .social-icon a{
    padding: .2rem;
    display:flex;
    align-items: center;
    justify-content: center;
  
} 
#footer .left .social .social-icon a img{

    width: 100%;
    height: 100%;

}

#footer .right{
    display: flex;
}
#footer .right .center{
    display: flex;
    flex-direction: column;
    margin: 5rem 2rem;
}
#footer .right .center a{
    text-decoration: none;
    color: #76787a;
}
#footer .right .center a:hover{
    text-decoration: underline;
}