*{
    margin: 0%;
    padding: 0%;
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
   
    
}

/* #Navbar css */
.btns{
    width: 35%;
}

#btn1{
    border:none;
    border-radius: 44px;
    font-weight: 550;
    background-color: #ffffff;
    width: max-content;
    padding: 0.7vw 1rem;
}
#btn2{
    border: 1.5px solid #f53838;
    border-radius: 44px;
    font-weight: 550;
    color: #f53838;
    background-color: #ffffff;
    padding: 0.5vw 1rem;

}
#btn2:hover{
    background-color: #f53838;
    color: white;
}
.nav-link{
    color: grey;
    
   
}
.nav-link:hover{
    color: #f53838;
}


/* #Home section */
#content{
    flex-wrap: wrap;
}
#home h1{
    font-size: 3rem;
}
#home p{
        font-size: 1.1rem;
        color: #76787a;
}


#home .button{
    background-color: #f53838;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 1rem 5rem;
    font-size: 1.1rem;
    font-weight: 550;
    width: fit-content;
    box-shadow: #f53838 17px 13px 36px -12px;
}

#home .button:hover{
    background-color: #2e3033;
    box-shadow: #2e3033 17px 13px 36px -12px;
 
}

#homepage .contents{
    box-shadow: #afafaf 0px 1px 100px -29px;
    padding: .9rem ;
    border-radius: 10px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#homepage .contents .text{
    margin-left: 2rem;
    padding-right: 8rem;
    border-right: #d3cdcd 2px solid;
}
#homepage .contents .adjust{
    margin-left: 2rem;
}
#homepage .contents h4{
    text-align: end;
    margin-bottom: 0px;

}
#homepage .contents p{

    font-size: 1.3rem;
    color: #76787a;
}

#about p{
    font-size: 1.1rem;
    color: #76787a;
}
#about .contents{
    margin-left: 5rem;
}
#about .contents ul{
 text-align: center;
    list-style-image: url(check-icon.svg);
    
}
#about .contents ul image{
    margin-top: 1vw;
}

